In [1]:
import pandas as pd

# Load dataset
df = pd.read_csv("House_Price.csv")

# Display first few rows
df.head()

,Unnamed: 0,district,price,address,AdUpdateDate,Category,GrossSquareMeters,BuildingAge,NumberFloorsofBuilding,UsingStatus,...,PriceStatus,RentalIncome,NumberOfBalconies,BalconyType,HallSquareMeters,WCSquareMeters,IsItVideoNavigable?,Subscription,BathroomSquareMeters,BalconySquareMeters
0,0,adalar,"3,100,000TL","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",24 Şubat 2022,Satılık,160 m2,21 Ve Üzeri,3,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,adalar,"1,600,000TL","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",02 Mart 2022,Satılık,120 m2,5-10,3,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,adalar,"18,500,000TL","['Anasayfa', 'Satılık Müstakil Ev', 'İstanbul ...",11 Şubat 2022,Satılık,350 m2,21 Ve Üzeri,2,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,adalar,"9,500,000TL","['Anasayfa', 'Satılık Bina', 'İstanbul Satılık...",11 Şubat 2022,Satılık,550 m2,11-15,3,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,adalar,"25,000,000TL","['Anasayfa', 'Satılık Köşk', 'İstanbul Satılık...",19 Ocak 2022,Satılık,840 m2,21 Ve Üzeri,4,Boş,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# Categorical variables
categorical_vars = df.select_dtypes(include=['object']).columns
print("Categorical Variables:\n", categorical_vars)

# Quantitative variables
quantitative_vars = df.select_dtypes(include=['int64', 'float64']).columns
print("\nQuantitative Variables:\n", quantitative_vars)

Categorical Variables:
 Index(['district', 'price', 'address', 'AdUpdateDate', 'Category',
       'GrossSquareMeters', 'BuildingAge', 'UsingStatus',
       'EligibilityForInvestment', 'BuildStatus', 'TitleStatus', 'ItemStatus',
       'NumberOfBathrooms', 'NumberOfWCs', 'AdCreationDate', 'Type',
       'NetSquareMeters', 'NumberOfRooms', 'FloorLocation', 'HeatingType',
       'CreditEligibility', 'InsideTheSite', 'StructureType', 'MortgageStatus',
       'Swap', 'Balcony', 'PriceStatus', 'RentalIncome', 'NumberOfBalconies',
       'BalconyType', 'HallSquareMeters', 'WCSquareMeters',
       'IsItVideoNavigable?', 'Subscription', 'BathroomSquareMeters',
       'BalconySquareMeters'],
      dtype='object')

Quantitative Variables:
 Index(['Unnamed: 0', 'NumberFloorsofBuilding'], dtype='object')

In [3]:
quant_summary = df[quantitative_vars].describe().T
quant_summary

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,25155.0,12577.000000,7261.767347,0.0,6288.5,12577.0,18865.5,25154.0
NumberFloorsofBuilding,25155.0,7.757782,6.952397,1.0,4.0,5.0,8.0,71.0

In [4]:
cat_summary = df[categorical_vars].describe().T
cat_summary

,count,unique,top,freq
district,25155,39,sariyer,1449
price,25155,2825,"1,350,000TL",371
address,25155,1638,"['Anasayfa', 'Satılık Residence', 'İstanbul Sa...",452
AdUpdateDate,25155,186,04 Mart 2022,1605
Category,25155,1,Satılık,25155
GrossSquareMeters,25155,584,100 m2,1478
BuildingAge,25155,10,0 (Yeni),7333
UsingStatus,25155,3,Boş,11139
EligibilityForInvestment,21506,3,Bilinmiyor,12751
BuildStatus,11231,3,İkinci El,6409
TitleStatus,9712,5,Kat Mülkiyeti,6088
ItemStatus,18332,2,Boş,17491
NumberOfBathrooms,25155,7,1,13665
NumberOfWCs,8129,7,1,4160
AdCreationDate,25155,728,25 Şubat 2022,685
Type,25155,1,Konut,25155
NetSquareMeters,25155,517,90 m2,1618
NumberOfRooms,25155,27,2+1,9752
FloorLocation,25155,55,2. Kat,2908
HeatingType,25155,15,Kombi Doğalgaz,17703
CreditEligibility,25155,3,Krediye Uygun,22197
InsideTheSite,25155,2,Hayır,22928
StructureType,10406,8,Betonarme,10214
MortgageStatus,6058,2,Yok,5917
Swap,20839,2,Yok,17304
Balcony,9109,2,Var,7695
PriceStatus,25155,2,Genel Fiyat,24335
RentalIncome,5815,159,3.000 TL,698
NumberOfBalconies,5324,4,1,3485
BalconyType,4720,5,Açık Balkon,3100
HallSquareMeters,1433,61,25 m2,293
WCSquareMeters,865,22,5 m2,167
IsItVideoNavigable?,5481,2,Hayır,3413
Subscription,4488,229,50 TL,998
BathroomSquareMeters,1112,24,5 m2,243
BalconySquareMeters,1040,49,5 m2,156

In [7]:
# Create age groups from numeric Age column
df["AgeGroup"] = pd.cut(
    df["Age"],
    bins=[0, 18, 30, 45, 60, 100],
    labels=["0-18", "19-30", "31-45", "46-60", "60+"]
)

# Grouped summary
grouped_income = df.groupby("AgeGroup")["Income"].agg(
    ["mean", "median", "min", "max", "std", "count"]
)

print(grouped_income)

KeyError: 'Age'