In [1]:
import pandas as pd
import numpy as np
from math import log2

In [2]:
data = {
    "Age": ["Young", "Young", "Middle", "Old", "Old", "Old", "Middle", 
            "Young", "Young", "Old", "Young", "Middle", "Middle", "Old"],
    
    "Income": ["High", "High", "High", "Medium", "Low", "Low", "Low",
               "Medium", "Low", "Medium", "Medium", "Medium", "High", "Medium"],
    
    "Married": ["No", "No", "No", "No", "Yes", "Yes", "Yes",
                "No", "Yes", "Yes", "Yes", "No", "Yes", "No"],
    
    "Health": ["Fair", "Good", "Fair", "Fair", "Fair", "Good", "Good",
               "Fair", "Fair", "Fair", "Good", "Good", "Fair", "Good"],
    
    "Class": ["No", "No", "Yes", "Yes", "Yes", "No", "Yes",
              "No", "Yes", "Yes", "Yes", "Yes", "Yes", "No"]
}

df = pd.DataFrame(data)
df

       Age  Income Married Health Class
0    Young    High      No   Fair    No
1    Young    High      No   Good    No
2   Middle    High      No   Fair   Yes
3      Old  Medium      No   Fair   Yes
4      Old     Low     Yes   Fair   Yes
5      Old     Low     Yes   Good    No
6   Middle     Low     Yes   Good   Yes
7    Young  Medium      No   Fair    No
8    Young     Low     Yes   Fair   Yes
9      Old  Medium     Yes   Fair   Yes
10   Young  Medium     Yes   Good   Yes
11  Middle  Medium      No   Good   Yes
12  Middle    High     Yes   Fair   Yes
13     Old  Medium      No   Good    No

In [3]:
freq_table = df["Age"].value_counts()
print("Frequency Table for Age:\n")
print(freq_table)

Frequency Table for Age:

Age
Young     5
Old       5
Middle    4
Name: count, dtype: int64

In [4]:
def entropy(col):
    values, counts = np.unique(col, return_counts=True)
    probs = counts / len(col)
    return -np.sum(probs * np.log2(probs))

In [5]:
total_entropy = entropy(df["Class"])
print("Entropy of full dataset:", total_entropy)

Entropy of full dataset: 0.9402859586706311

In [6]:
IG_age = total_entropy

# Weighted entropy after split
for age_group, subset in df.groupby("Age"):
    weight = len(subset) / len(df)
    ent = entropy(subset["Class"])
    IG_age -= weight * ent
    print(f"Entropy(Age = {age_group}): {ent:.4f}, weight = {weight:.4f}")

print("\nInformation Gain for splitting on Age =", IG_age)

Entropy(Age = Middle): -0.0000, weight = 0.2857
Entropy(Age = Old): 0.9710, weight = 0.3571
Entropy(Age = Young): 0.9710, weight = 0.3571

Information Gain for splitting on Age = 0.24674981977443933