In [12]:
import os 
import sys
import pandas as pd

In [13]:
import pandas as pd
import seaborn as sns
import os

def load_titanic():
    """
    Try to load Titanic dataset using seaborn.
    If that fails, load from local CSV.
    If both fail, raise error.
    """
    try:
        print("Trying seaborn Titanic dataset...")
        df = sns.load_dataset('titanic')
        print("Loaded Titanic via seaborn!")
        return df

    except Exception as e:
        print("Seaborn load failed:", str(e))

        local_csv = "/Users/vidhanmanihar/Desktop/untitled folder/DSML/Practical/one/tested.csv"
        
        if os.path.exists(local_csv):
            print(f"Reading from local file: {local_csv}")
            return pd.read_csv(local_csv)

        else:
            raise FileNotFoundError(
                "Could not load Titanic dataset from seaborn or local CSV.\n"
                "Check internet OR save Titanic CSV at:\n"
                f"{local_csv}"
            )

In [14]:
df = load_titanic()
print(df.head())

Trying seaborn Titanic dataset...
Loaded Titanic via seaborn!
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [23]:
def main():
    # Load dataset
    df = load_titanic()

    # Create output directory
    out_dir = './output'
    os.makedirs(out_dir, exist_ok=True)

    # Save copies (CSV and Excel)
    csv_path = os.path.join(out_dir, 'titanic_saved.csv')
    xlsx_path = os.path.join(out_dir, 'titanic_saved.xlsx')
    df.to_csv(csv_path, index=False)
    # For writing Excel ensure openpyxl is installed: pip install openpyxl
    try:
        df.to_excel(xlsx_path, index=False)
    except Exception as e:
        print("Excel write failed (openpyxl missing?). You can pip install openpyxl to enable Excel output.")
        xlsx_path = None

    # Basic info
    print("\n=== Basic Info ===")
    print("Shape (rows, columns):", df.shape)
    print("Columns:", df.columns.tolist())
    print("Number of missing entries per column:")
    print(df.isna().sum())

    # Data types
    print("\n=== Data types ===")
    print(df.dtypes)

    # Descriptive statistics
    print("\n=== Describe (numeric columns) ===")
    print(df.describe())

    print("\n=== Describe (all columns) ===")
    print(df.describe(include='all'))

    # Indexing & selecting examples
    print("\n=== Indexing & selection examples ===")
    # Single column (Series)
    print("survived column sample:")
    print(df['survived'].head())

    # Multiple columns (DataFrame)
    print("\nSubset columns (survived, pclass, sex, age) sample:")
    print(df[['survived', 'pclass', 'sex', 'age']].head())

    # Row selection by iloc
    print("\nFirst row (iloc[0]):")
    print(df.iloc[0])

    # Slicing rows
    print("\nRows 0:5 (iloc):")
    print(df.iloc[0:5])

    # Boolean indexing: survived == 1
    survivors = df[df['survived'] == 1]
    print("\nNumber of survivors (survived == 1):", survivors.shape[0])

    # loc with condition and selected columns
    over_60 = df.loc[df['age'] > 60, ['survived', 'age', 'sex', 'pclass']]
    print("\nPassengers with age > 60 (loc selection):")
    print(over_60)

    # Sorting
    print("\n=== Sorting examples ===")
    print("Top 10 oldest passengers (age desc):")
    print(df.sort_values(by='age', ascending=False).head(10)[['age','survived','sex','pclass']])

    print("\nTop 10 highest fares (fare desc):")
    print(df.sort_values(by='fare', ascending=False).head(10)[['fare','survived','pclass','sex']])

    print("\nSorted by pclass ascending then fare descending (top 10):")
    print(df.sort_values(by=['pclass','fare'], ascending=[True, False]).head(10)[['pclass','fare','survived']])

    # Summary CSV
    summary = {
        'rows': df.shape[0],
        'columns': df.shape[1],
        'total_missing_values': int(df.isna().sum().sum()),
        'columns_with_missing_values': int((df.isna().sum() > 0).sum())
    }
    summary_df = pd.DataFrame(list(summary.items()), columns=['metric', 'value'])
    summary_path = os.path.join(out_dir, 'titanic_summary.csv')
    summary_df.to_csv(summary_path, index=False)
    print("\nSummary saved to:", summary_path)
    print("CSV saved to:", csv_path)
    if xlsx_path:
        print("Excel saved to:", xlsx_path)

    # Example: select a sample for display / teaching
    sample_display = df.head(20)
    print("\nSample (first 20 rows):")
    print(sample_display)

if __name__ == '__main__':
    main()

Trying seaborn Titanic dataset...
Loaded Titanic via seaborn!

=== Basic Info ===
Shape (rows, columns): (891, 15)
Columns: ['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone']
Number of missing entries per column:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

=== Data types ===
survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

=== Describe (numeric columns) ===
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

=== Describe (all columns) ===
          survived      pclass   sex         age       sibsp       parch  \
count   891.000000  891.000000   891  714.000000  891.000000  891.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   577         NaN         NaN         NaN
mean      0.383838    2.308642   NaN   29.699118    0.523008    0.381594
std       0.486592    0.836071   NaN   14.526497    1.102743    0.806057
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male deck  embark_town alive  \
count   891.000000      889    891  891        891  203          889   891
unique         NaN        3      3    3          2    7            3     2
top            NaN        S  Third  man       True    C  Southampton    no
freq           NaN      644    491  537        537   59          644   549
mean     32.204208      NaN    NaN  NaN        NaN  NaN          NaN   NaN
std      49.693429      NaN    NaN  NaN        NaN  NaN          NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
25%       7.910400      NaN    NaN  NaN        NaN  NaN          NaN   NaN
50%      14.454200      NaN    NaN  NaN        NaN  NaN          NaN   NaN
75%      31.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN  NaN          NaN   NaN

       alone
count    891
unique     2
top     True
freq     537
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

=== Indexing & selection examples ===
survived column sample:
0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64

Subset columns (survived, pclass, sex, age) sample:
   survived  pclass     sex   age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

First row (iloc[0]):
survived                 0
pclass                   3
sex                   male
age                   22.0
sibsp                    1
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 0, dtype: object

Rows 0:5 (iloc):
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

Number of survivors (survived == 1): 342

Passengers with age > 60 (loc selection):
     survived   age     sex  pclass
33          0  66.0    male       2
54          0  65.0    male       1
96          0  71.0    male       1
116         0  70.5    male       3
170         0  61.0    male       1
252         0  62.0    male       1
275         1  63.0  female       1
280         0  65.0    male       3
326         0  61.0    male       3
438         0  64.0    male       1
456         0  65.0    male       1
483         1  63.0  female       3
493         0  71.0    male       1
545         0  64.0    male       1
555         0  62.0    male       1
570         1  62.0    male       2
625         0  61.0    male       1
630         1  80.0    male       1
672         0  70.0    male       2
745         0  70.0    male       1
829         1  62.0  female       1
851         0  74.0    male       3

=== Sorting examples ===
Top 10 oldest passengers (age desc):
      age  survived   sex  pclass
630  80.0         1  male       1
851  74.0         0  male       3
493  71.0         0  male       1
96   71.0         0  male       1
116  70.5         0  male       3
672  70.0         0  male       2
745  70.0         0  male       1
33   66.0         0  male       2
54   65.0         0  male       1
280  65.0         0  male       3

Top 10 highest fares (fare desc):
         fare  survived  pclass     sex
258  512.3292         1       1  female
737  512.3292         1       1    male
679  512.3292         1       1    male
88   263.0000         1       1  female
27   263.0000         0       1    male
341  263.0000         1       1  female
438  263.0000         0       1    male
311  262.3750         1       1  female
742  262.3750         1       1  female
118  247.5208         0       1    male

Sorted by pclass ascending then fare descending (top 10):
     pclass      fare  survived
258       1  512.3292         1
679       1  512.3292         1
737       1  512.3292         1
27        1  263.0000         0
88        1  263.0000         1
341       1  263.0000         1
438       1  263.0000         0
311       1  262.3750         1
742       1  262.3750         1
118       1  247.5208         0

Summary saved to: ./output/titanic_summary.csv
CSV saved to: ./output/titanic_saved.csv
Excel saved to: ./output/titanic_saved.xlsx

Sample (first 20 rows):
    survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0          0       3    male  22.0      1      0   7.2500        S   Third
1          1       1  female  38.0      1      0  71.2833        C   First
2          1       3  female  26.0      0      0   7.9250        S   Third
3          1       1  female  35.0      1      0  53.1000        S   First
4          0       3    male  35.0      0      0   8.0500        S   Third
5          0       3    male   NaN      0      0   8.4583        Q   Third
6          0       1    male  54.0      0      0  51.8625        S   First
7          0       3    male   2.0      3      1  21.0750        S   Third
8          1       3  female  27.0      0      2  11.1333        S   Third
9          1       2  female  14.0      1      0  30.0708        C  Second
10         1       3  female   4.0      1      1  16.7000        S   Third
11         1       1  female  58.0      0      0  26.5500        S   First
12         0       3    male  20.0      0      0   8.0500        S   Third
13         0       3    male  39.0      1      5  31.2750        S   Third
14         0       3  female  14.0      0      0   7.8542        S   Third
15         1       2  female  55.0      0      0  16.0000        S  Second
16         0       3    male   2.0      4      1  29.1250        Q   Third
17         1       2    male   NaN      0      0  13.0000        S  Second
18         0       3  female  31.0      1      0  18.0000        S   Third
19         1       3  female   NaN      0      0   7.2250        C   Third

      who  adult_male deck  embark_town alive  alone
0     man        True  NaN  Southampton    no  False
1   woman       False    C    Cherbourg   yes  False
2   woman       False  NaN  Southampton   yes   True
3   woman       False    C  Southampton   yes  False
4     man        True  NaN  Southampton    no   True
5     man        True  NaN   Queenstown    no   True
6     man        True    E  Southampton    no   True
7   child       False  NaN  Southampton    no  False
8   woman       False  NaN  Southampton   yes  False
9   child       False  NaN    Cherbourg   yes  False
10  child       False    G  Southampton   yes  False
11  woman       False    C  Southampton   yes   True
12    man        True  NaN  Southampton    no   True
13    man        True  NaN  Southampton    no  False
14  child       False  NaN  Southampton    no   True
15  woman       False  NaN  Southampton   yes   True
16  child       False  NaN   Queenstown    no  False
17    man        True  NaN  Southampton   yes   True
18  woman       False  NaN  Southampton    no  False
19  woman       False  NaN    Cherbourg   yes   True